ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
  }

  .nav_bar {
    width: 100%;
    text-align: center;
  }

  .main_header {
    text-align: center;
  }