ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
  }

  .nav_bar {
    width: 100%;
    text-align: center;
    background-color: floralwhite;
    padding-bottom: 3%;
  }

  .main_header {
    text-align: center;
    background-color: floralwhite;
    padding: 2%;
    font-family: 'Old Standard TT', serif;
    color: #51442A;
  }

  a:link {
    color: #F1DFBD;
    text-decoration: none;
  }
  a:visited {
    color: #F1DFBD;
    text-decoration: none;
  }

  a:hover {
    color: #614715;
    text-decoration: overline;
  }
  a:active {
    color: #614715;
    text-decoration: none;
  }
